.login-form {
    display: flex;
    flex-direction: column;
    place-content: space-between space-between;
}

.form-footer {
    margin-top: 45px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #FFF;
}

.form-container {
    background: #FFF;
    box-shadow: 0 0 6px 0 #00000024;
    border-radius: 12px;
    padding: 50px 30px;
}

.form-header {
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
}

.error-message {
    color: red;
    margin-top: 7px;
    font-size: 8px;
    line-height: 8px;
}

.header {
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
}
