.chat {
    display: flex;
    flex-direction: row;
    background: #fff;
    width: 100vw;
    height: 100vh;
}

.left-panel {
    width: 310px;
    border-right: 1px solid #EAEAEA;
    text-align: end;
    padding: 10px;
    box-sizing: border-box;
}
