.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    background: #FFFFFF;
}

.profile-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 0px #00000024;
    border-radius: 12px;
    padding: 20px;
}

.profile-header {
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    line-height: 16px;
    text-align: center;
}

.form {
    text-align: start;
}

.profile-aside {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    min-height: 100vh;
    height: 100%;
    background-color: #999999;
}

.profile-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;

    &-container {
        width: 550px;
        padding: 20px;
    }
}