:root {
    --color-light-gray: #f5f5f5;
    --color-white: #fff;
    --color-medium-gray: #ddd;
    --color-dark-gray: #ccc;
    --color-green: #28a745;
    --color-dark-green: #218838;
    --color-gray: #999;
    --color-blue: #3369F3;
    --color-darker-gray: #666;
    --color-very-light-gray: #F1F1F1;
    --color-extra-light-gray: #EFEFEF;
    --color-black: #000;
    --color-hover-blue: #6892FA;
    --color-dark-blue: #007bff;
    --color-bright-green: #08c;
    --color-f9-white: #f9f9f9;
    --color-dark-blue-hover: #007bb5;
    --color-cd-gray: #CDCDCD;
    --color-typescript-blue: #007ACC;
    --color-dark-black: #242424;
    --color-alt-blue: #646cff;
    --color-alt-gray: #535bf2;
    --color-medium-blue: #3178c6;
    --color-darker-alt-gray: #888;
    --color-darker-black: #1a1a1a;
    --color-alt-dark-gray: #213547;
    --color-alt-dark-blue: #747bff;
    --color-bright-blue: #0af;
    --color-light-blue: #00aeff;
    --color-extra-light-gray-alt: #EAEAEA;
    --color-black-alt: #000000;
  }
  