.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #FFF;
}

.home-container {
    background: #FFF;
    box-shadow: 0 0 6px 0 #00000024;
    border-radius: 12px;
    padding: 50px 30px;
}

.home-header {
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
}
