.all-message {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.all-message > div:first-child {
    flex-grow: 1;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.close-chat {
    display: flex;
    gap: 10px;

    &:last-child > a {
        color: red;
    }
}

.chat-noselected {
    color: #1a1a1a;
    justify-content: center;
    margin-top: 40px;
    display: flex;
}
