.side-panel {
    background: #FFF;
    box-shadow: 0 0 6px 0 #00000024;
    border-radius: 12px;
    padding: 50px 30px;
}

.profile-info {
    color: black;
}

.profile-info-item {
    margin-bottom: 0;
}
