.users-dropdown {
    display: inline-block;
    position: relative;
}

.users-dropdown-trigger {
    color: #4B556B;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
}

.users-dropdown-list {
    background-color: #4B556B;
    border-radius: 4px;
    color: #63DAFC;
    display: none;
    left: 0;
    list-style: none;
    padding: 10px 0;
    top: 100%;
    width: 200px;
    z-index: 10;
}

.users-dropdown:hover .users-dropdown-list {
    display: block;
}

.users-dropdown-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;

    &:hover {
        background-color: #232836;
    }
}

.users-dropdown-item span {
    font-size: 14px;
}
